a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container {  
    /* display: flex;
    flex-wrap: wrap; */

    width: 100%;
    font-family: 'Gilroy-Bold';
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 162px;
    /* width: 100%; */
    padding-left: 20%;
    padding-right: 20%;
}

.headerTopLeft {
    display: flex;
    align-items: center;
}

.grow{
    margin-left: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.be{
    font-size: 24px;
    line-height: 28px;
    color: #F25822;
}

.mainMenu {
    /* margin-top: 51px; */
    /* margin-bottom: 94px; */
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    /* width: 36%; */

}

.mainMenuList{
    list-style: none;
    width: 533px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.mainMenuList li{
    display: inline;
    font-size: 14px;
    line-height: 16px;
    
}

.mainMenu__item{
    font-size: 14px;
    line-height: 16px;
    
    color: black;
    
}

.buttonGetStarted{
    margin-left: 32px;
    height: 40px;
    width: 120px;
    background: #F25822;
    border-radius: 30px;
    border: #F25822;
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.startNow {
    height: 40px;
    width: 120px;
    background: #F25822;
    border-radius: 30px;
    border: #F25822;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.watchVideo {
    border: none;
    color: #FFFFFF;
    margin-left: 27px;
    /* align-self: center; */
    /* align-content: center; */
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    background-color: #FFFFFF;
    /* padding: auto; */
    /* vertical-align: middle; */
}
.watchVideo > * {
    vertical-align: middle;
}

.watchVideo > span {
    margin-left: 15px;
}

.headerInfo{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 58%; */
}

.headerInfoLeftHeading {
    display: block;
    margin-bottom: 17px;
    width: 522px;
    height: 222px;
    font-family: 'Gilroy-Bold';

    font-size: 60px;
    line-height: 70px;
    color: #000000;
    background-image: url("img/Ellipse\ 2.svg");
    background-repeat: no-repeat;
    background-position: 0% 45%;

}

.headerInfoLefttext {
    display: block;
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    width: 466px;
}

.headerInfoLeft{
    width: 28%;
    height: auto;
}

.headerInfoRight{
    width: 28%;
    height: auto;
    /* display: block; */
}

.headerInfoRight > img{
    width: 100%;
}

.headerLogoBar {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogoBar > img{
    margin-left: 48px;
}